html {
  margin: 0;
  padding: 0;
  background-color: #FEF3DA;
  font-family: "Fredoka", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  color: #4C3F35;
  font-variation-settings:
    "wdth" 100;
}

body {
  margin: 0;
  padding: 0;
}

hr {
  margin-left: 50px;
  margin-right: 50px;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-left: auto;
  margin-right: auto;
  background-color: #9E92BB;
}

footer {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  height: 60px;
  padding-top: 12px;
  background-color: #d4d1d1;
}

section {
  margin-bottom: 200px;
}

.button {
  height: 24px;
  padding: 10px;
  background-color: #d4d1d1;
}

.button a {
  text-decoration: none;
  color: #4C3F35;
}

.defaultpadding {
  padding-left: 25px;
  padding-right: 25px;
  max-width: 75%;
  margin-top: 20px
}

.centered {
  margin-left: auto;
  margin-right: auto;
}

.centered-text {
  text-align: center;
}

/* Home */

#logo {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 800px;
  font-size: 25px;
  font-weight: 500;
}

#landingimgcontainer {
  height: 670px;
}

#landingpicture {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#subheading {
  margin-left: 55px;
  margin-top: 0;
  font-weight: 350;
  font-size: 30px;
}

/* About Us */

#abouttitle {
  margin-top: 250px;
  margin-bottom: 5px;
  font-size: 100px;
}

#slogan {
  margin-top: 15px;
  font-size: 25px;
  font-weight: 350;
}

.Header {
  margin-top: 200px;
}

.halfsplit {
  display: flex;
  flex-direction: row;  
}

.hs-child {
  padding: 25px;
  width: 50%;
}

.hs-childh2 {
  padding-left: 25px;
  padding-bottom: 50px;
  width: 50%;
  font-size: 30px;
}

#aboutusimage {
  width: 600px;
  height: 550px;
}

#bordered {
  border-color: #4C3F35;
  border-style:dotted;
  border-width: 3px;
  margin-left: 24px;
  margin-right: 24px;
  padding-bottom: 50px;
}

.biocontainer {
  display: flex;
  flex-direction: row;
  margin: auto;
  align-items: center;
  justify-content: center;
}

.biopic {
  border-radius: 50%;
  margin-left: 50px;
  margin-right: 50px;
  height: 150px;
  width: 150px;
  object-fit: cover;
}

.bio {
  margin: 100px;
}

/* Projects */

.background {
  background-image: url("https://i.pinimg.com/originals/f9/a5/46/f9a546e3625d22a8bcc21b34e4ce8c18.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  opacity: 50%;
}

#projecttitle {
  margin-top: 50px;
  margin-bottom: 0;
  margin-left: 50px;
  font-size: 50px;
}

.cardcontainer {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  margin-left: 100px;
  margin-right: 100px;
  align-items: center;
  justify-content: center;
}

.card {
  margin: auto;
  width: 20vw;
}

.card img {
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  gap: 10px;
  padding-right: 45px;
  padding-left: 75px;
}

.grid-item img {
  width: 400px; 
  height: 400px;
  object-fit: cover;
}

.titles {
    margin-left: 100px;
    margin-top: 100px;
    margin-bottom: 30px;
}

.titles h2 {
  margin-top: 10px;
  margin-bottom: 0;
}

.titles p {
  margin-top: 0;
  margin-bottom: 10px;
}

/* Get Involved */

#words {
  margin-left: 100px;
  margin-right: 100px;
}

#floatimg {
  height: 300px;
  width: 400px;
  float: left;
  margin-right: 25px;
}

#gicards {
  margin-top: 350px;
  padding: auto;
}

/* Contact Us */

#contactusbg {
  background-color: #d4d1d1;
}

#contactinfo {
  font-size: 24px;
  margin-top: 20px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 0;
  text-align: justify;
}

.container {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

label {
  display: block;
  margin-bottom: 10px;
}

input[type="text"],
        input[type="email"],
        textarea {
            width: 100%;
            padding: 10px;
            margin-bottom: 20px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }
        input[type="submit"] {
            background-color: #4C3F35;
            color: #FEF3DA;
            border: none;
            border-radius: 5px;
            padding: 10px 20px;
            cursor: pointer;
        }
        input[type="submit"]:hover {
            background-color: #9E92BB ;
        }